{% extends "docMotoBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block docmoto_body %}

  <h2>Annonces à activer</h2>

  <ul>
    {% for annonce in listeAnnonces %}
      <li>
        <a href="{{ path('doc_moto_annonce', {'id': annonce.id}) }}">
          {{ annonce.titre }}
        </a>
      </li>
	  {% for photo in annonce.photos %}
		<img 
		  src="{{ asset((photo.webPath) | apply_filter('my_petit')) }}"
		  alt="{{ photo.alt }}"
		/>
	  {% endfor %}

	  {{ annonce.moto.marque.nom }}
	  {{ annonce.moto.modele }} <br />
	  de {{ annonce.pseudo }} en {{ annonce.departement.nom }} <br />
	  
	<a href="{{ path('doc_moto_activer', {'id': annonce.id}) }}" class="btn btn-default">
      Activer cette annonce
	</a>
	  
	  
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
	
	
  </ul>
  
  {% if listeAnnonces %}
	<a href="{{ path('doc_moto_activer', {'id': -1}) }}" class="btn btn-default">
      Activer toutes ces annonces
	</a>
  {% endif %}
  
  
{% endblock %}