{% extends "docMotoBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block docmoto_body %}

  <h2>Liste des annonces</h2>

  {% if message %} 
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Succès:</span>
			{{ message }}  
		</div>
  {% endif %}
  
	
  
  <ul>
  
	<table class="table table-bordered">
  
	{% if listeAnnonces %}
  
	<tr>
		<th>Annonce</th>
		<th>Moto</th> 
		<th>Année</th>
		<th>Kilométrage</th>
		<th>Département</th>
		<th>Photo</th>
		<th>Date</th>
	</tr>
	
	{% endif %}
  
    {% for annonce in listeAnnonces %}
		<tr>
		
			<td>
			<a href="{{ path('doc_moto_annonce', {'id': annonce.id}) }}">
			  {{ annonce.titre }}
			</a>
			</td>
			<td>{{ annonce.moto.marque.nom }}<br />{{ annonce.moto.modele }}</td>
			<td>{{ annonce.annee }}</td>
			<td>{{ annonce.kilometrage }}</td>
			<td>{{ annonce.departement.nom }}</td>
		
			<td>
				{% if annonce.photos|length > 0 %}
					  {% if annonce.photos[0] %}
						<img 
						  src="{{ asset((annonce.photos[0].webPath) | apply_filter('my_petit')) }}"
						  alt="{{ annonce.photos[0].alt }}"
						/>
					  {% endif %}
				{% endif %}
			</td>
			
			
			<td>{{ annonce.date|date("d/m/Y") }}</td>

	  	 
		</tr>
		 
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
	
	{% if listeAnnonces %}
	</table>
	{% endif %}
	
  </ul>

{% endblock %}