{% extends "docMotoBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block docmoto_body %}

  <h2>Liste des annonces</h2>

  {% if message %} 
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Succès:</span>
			{{ message }}  
		</div>
  {% endif %}
  
	
  
  <ul>
    {% for annonce in listeAnnonces %}
      <li>
        <a href="{{ path('doc_moto_annonce', {'id': annonce.id}) }}">
          {{ annonce.titre }}
        </a>
      </li>
	  {% if annonce.photo1 is not null %}
		<img 
		  src="{{ asset((annonce.photo1.webPath) | apply_filter('my_petit')) }}"
		  alt="{{ annonce.photo1.alt }}"
		/>
	  {% endif %}

	  {{ annonce.moto.marque.nom }}
	  {{ annonce.moto.modele }} <br />
	  de {{ annonce.pseudo }} en {{ annonce.departement.nom }} <br />
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}