{% extends "docMotoBundle::layout.html.twig" %}

{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer une annonce</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'annonce "{{ annonce.titre }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('doc_moto_supprimer', {'id': annonce.id}) }}" method="post">
    <a href="{{ path('doc_moto_annonce', {'id': annonce.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
	
	<br />
	<br />
	
	{% if messageErreur %} 
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Erreur:</span>
			{{ messageErreur }}  
		</div>
	{% endif %}
	
		
	{{ form_rest(form) }}
	   
	
  </form>

{% endblock %}